<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hc.furniture">
    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 照相机使用权限 -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- 声音采集 音频权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- &lt;!&ndash;声明wifi 的使用权限;&ndash;&gt; -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.example.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:name="com.hc.shishi.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/bagg"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MainHome" />
        <activity
            android:name="com.hc.personalInfo.PersonalaActivity"
            android:theme="@style/KaleTheme" />
        <activity android:name="com.hc.personalInfo.ProjActivity" />
        <activity android:name="com.hc.personalInfo.OrgActivity" />
        <activity android:name="com.hc.personalInfo.AlertActivity" />
        <activity android:name="com.hc.home.HostActivity" />
        <activity android:name="com.hc.home.DevierActivity" />
        <activity android:name="com.hc.home.HostInfoActivity" />
        <activity android:name="com.hc.home.HostAddActivity" />
        <activity android:name="com.hc.user.UserAddActivity" />
        <activity android:name="com.hc.user.UserUpdataActivity" />
        <activity android:name="com.hc.webview.Main22Activity" />
        <activity android:name="com.hc.set.ProjtActivity" />
        <activity android:name="com.hc.set.AlertSetActivity" />
        <activity android:name="com.hc.set.ZiDInfoActivity"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hc.furniture"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>